<!DOCTYPE html>
<html lang="de">
     {% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

          <div class="modal fade" id="addStudent" tabindex="-1" role="dialog" aria-labelledby="addStudentTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                         <div class="modal-header">
                            <h5 class="modal-title" id="addStudentTitle">Schüler hinzufügen</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post" action="profile">
                            <div class="modal-body">
                                 <div class="column is-4 is-offset-4">
                                    <div class="box">

                                            <div class="mb-3">
                                                <label for="name">Vorname:</label>
                                                <input class="form-control" name="name" id="name" placeholder="Vorname des Schülers" required="required">
                                            </div>

                                            <div class="mb-3">
                                                <label for="surname">Nachname:</label>
                                                <input class="form-control" type="surname" name="surname" id="surname" placeholder="Nachname des Schülers" required="required">
                                           </div>

                                            <div class="d-flex justify-content-around" >
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Klasse auswählen
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                        <!--only temporary list; need backend call to list all available courses -->
                                                        {% for klasse in klassenListe %}
                                                        <div class="dropdown-item">
                                                            <li>
                                                                <input class="form-check-input me-1" name="klasse_id" type="radio" value={{klasse.id}} aria-label="..." unchecked>
                                                                <!-- value ist verantwortlich für die vergabe von IDs(for-Schleife einfügen)-->
                                                                    {{klasse.bezeichnung}}
                                                            </li>
                                                        </div>
                                                        {% endfor %}
                                                    </ul>
                                                </div>

                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                        wähle Fächer
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                        <!--only temporary list; need backend call to list all available courses -->
                                                        {% for fach in faecherListe %}
                                                        <div class="dropdown-item">
                                                            <li>
                                                                <input class="form-check-input me-1" name="fach_id" type="checkbox" value={{fach.id}} aria-label="...">
                                                                <!-- value ist verantwortlich für die vergabe von IDs(for-Schleife einfügen)-->
                                                                    {{fach.bezeichnung}}
                                                            </li>
                                                        </div>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>

                                <input type="submit" name="submit1" class="btn btn-primary" value="Schüler hinzufügen" style="background-color: #006633;">

                            </div>
                        </form>
                        </div>
                    </div>
            	</div>
</body>


    {% endblock %}
</html>