<!DOCTYPE html>
<html lang="de">
     {% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    

</head>
<body>
          <div class="modal fade" id="createClass" tabindex="-1" role="dialog" aria-labelledby="createClassTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                         <div class="modal-header">
                            <h5 class="modal-title" id="addClassTitle">Klasse hinzufügen</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post" action="profile">
                            <div class="modal-body">
                                 <div class="column is-4 is-offset-4">
                                    <div class="box">

                                            <div class="mb-3">
                                                <label for="bezeichnung">Klassenname:</label>
                                                <input class="form-control" name="bezeichnung" id="bezeichnung" placeholder="Klassenname mit Jahreszahl (z.B. 1a 21/22)" required="required">
                                            </div>


											<div class="form-group">
											<select class="selectpicker" data-live-search="true" name="klasse_lehrer" id="klasse_lehrer" value={{lehrer.id}}" title ="Lehrer auswählen">																				
											<option></option>
											{% for lehrer in lehrerListe %}
											  <option value={{lehrer.id}}>{{lehrer.vorname}} {{lehrer.nachname}}</option>
											{% endfor %}
											</select>
											</div>
											&nbsp;
											<br/>

                                            
											<div class="form-group">
											<select class="selectpicker" data-live-search="true" name="klasse_schueler" id="klasse_schueler" title ="Schüler auswählen" multiple>																				
											<option></option>
											{% for schueler in schuelerList %}
											  <option value={{schueler.id}}>{{schueler.vorname}} {{schueler.nachname}}</option>
											{% endfor %}
											</select>
											</div>
											&nbsp; 
                                            
                                            
                                    </div>
                                   
                                </div>
                            
                            </div>
 			                <div class="modal-footer">
			                    <button type="button" class="btn float-start btn-secondary" data-dismiss="modal">Abbrechen</button>
			                    <input type="submit" name="submit1" class="btn btn-primary" value="Klasse hinzufügen" style="background-color: #006633;">
			                </div>    
                        </form>
                        </div>
                    </div>
            	</div>
</body>
    {% endblock %}
</html>