<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Notenmanager</title>
    


</head>
<body>
{% for klasse in klassenListe %}
<form method="post" action="{{ url_for('editClass', klasse_id=klasse.id) }}">

<div class="modal fade" id="editClass {{ klasse.id }}" tabindex="-1" role="dialog" aria-labelledby="editClass"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="klasse_editieren">Klasse bearbeiten</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <div class="column is-4 is-offset-4">
                        <div class="box">
                            

                                <div class="mb-3">
                                    <label for="bezeichnung">Bezeichnung:</label>
                                    <input class="form-control" name="bezeichnung"  id="bezeichnung" required="required" value="{{klasse.bezeichnung}}">
                                </div>

											<label for="lehrer" class="form-label">Lehrer:</label>
											
											{% for lehrer in lehrerListe %}
												{% if klasse.lehrer_id == lehrer.id %}
													<select class="selectpicker" data-live-search="true" name="klasse_lehrer" id="klasse_lehrer" value={{lehrer.id}}">
													<option value={{lehrer.id}} selected>{{lehrer.vorname}} {{lehrer.nachname}}</option>
												{% endif %}
											{% endfor %}
											{% for lehrer in lehrerListe %}
											  <option value={{lehrer.id}}>{{lehrer.vorname}} {{lehrer.nachname}}</option>
											{% endfor %}
											</select>
											&nbsp;
											<br/>
                                			<br>

											<label for="Schüler" class="form-label">Schüler:</label>
																						
											<select class="selectpicker" data-live-search="true" name="klasse_schueler" id="klasse_schueler" title ="Schüler auswählen" multiple>																				
											<option></option>
											{% set klasse_schueler_id = [] %}
											{% for schueler in schuelerList %}							
												{% if schueler.klasse_id == klasse.id %} 	
													<option value={{schueler.id}} selected>{{schueler.vorname}} {{schueler.nachname}}</option>
													{% set klasse_schueler_id = klasse_schueler_id.append(schueler.id) %}					
												{% endif %}
											{% endfor %}
											{% for schueler in schuelerList %}
												{% if schueler.id not in klasse_schueler_id %}
													<option value={{schueler.id}}>{{schueler.vorname}} {{schueler.nachname}}</option>
												{% endif %}
											{% endfor %}
											</select>
											&nbsp; 	


                                


                            </div>
                        </div>
                    </div>
            <div class="modal-footer">
            
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <input type="submit" class="btn btn-primary"  name="editClass" value="Klasse bearbeiten" style="background-color: #006633"
                           onclick="return confirm('Änderungen an der Klasse {{klasse.bezeichnung}} speichern? ')">
            
            </div>
            </form>                      
            </div>

        </div>
      
    </div>
    
</div>
{%endfor%}
</body>




    {% endblock %}
</html>