<!DOCTYPE html>
<html lang="en">

    {% extends 'base.html' %}
    {%include 'editstudent.html'%}}

 {% block content %}


 <div class="row justify-content-between mb-3 mt-4">
            <div class="col-md-8">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5>Fächer</h5>
                    </div>
                </div>
                <div class="card mb-3">
                         <ul class="card-body">

                          <div class="row">
                              <div>
                                  <ul style="list-style: none; padding-left: 0px">
                                      {% for fach in faecher%}

                                       <li class="d-flex justify-content-between align-items-center">
                                          <h6 class="mb-0" style="width: 200px">{{fach.Fach.bezeichnung}}</h6>
                                           <h6 class="mb-0">{{pruefungen|selectattr('Pruefung.fach_id','==', 'fach.Fach.id')|list|count}}</h6>
                                               <a style="color: black" data-toggle="collapse" href="#collapseSubject{{fach.Fach.id}}" aria-expanded="false" aria-controls="collapseSubject">
                                                  <i onclick="toggle(this)" class="bi bi-chevron-down" style="font-size: 25px"></i>
                                                   <script>
                                                    function toggle(x){
                                                        x.classList.toggle("bi-chevron-up")
                                                    }
                                                   </script>
                                             </a>
                                      </li>
                                             <div class="collapse" id="collapseSubject{{fach.Fach.id}}">
                                                   <ul>
                                                       {%for pruefung in pruefungen%}
                                                            {%if pruefung.Belegung.fach_id== fach.Fach.id%}
                                                               <li class="row list-group-item-action">
                                                                    <div class="col d-flex justify-content-around">
                                                                            <h7 style="width: 300px">{{pruefung.Pruefung.bezeichnung}}</h7>
                                                                            <h7 style="color: gray">Note:</h7>
                                                                    </div>
                                                                </li>
                                                       {%endif%}
                                                        {%endfor%}
                                                   </ul>
                                               </div>
                                      <hr>
                                      {%endfor%}
                                         </ul>

                            </div>
                          </div>
                      </ul>
                </div>
            </div>
             <div class="col-4">
                <div class="card" style="mb-1">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <div class="mt-3">
                                <h4>{{schueler.vorname}} {{schueler.nachname}}</h4>
                                {% for klasse in klassenListe %}
                                {% if schueler.klasse_id == klasse.id %}
                                <h6 style="font-style: italic">{{klasse.bezeichnung}} </h6>
                                 {% endif %}
                                {% endfor %}
                                <ul style="list-style: none; padding-left: 0px">

                                    <li class="mb-1">

                                        <a type="button" class="btn btn-primary btn-sm"
                                                style="background-color: #006633; color: white" data-toggle="modal" id="editStudent{{schueler.id}}"
                                               data-target="#editStudent {{ schueler.id }}" data=origin>
                                            Schüler bearbeiten
                                        </a>
                                    </li>
                                    <li class="mb-1">
                                        <a type="button" class="btn btn-primary btn-sm" style="background-color: #006633; color: white">Notenliste exportieren</a>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

    {% endblock %}
</html>