<!DOCTYPE html>
<html lang="en">

    {% extends 'base.html' %}
    {%include 'editstudent.html'%}}

 {% block content %}


 <div class="row justify-content-between mb-3 mt-4">
            <div class="col-md-8">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5>Fächer</h5>
                    </div>
                </div>
                <div class="card mb-3">
                         <ul class="card-body">

                          <div class="row">
                              <div>
                                  <ul style="list-style: none; padding-left: 0px">
                                      {% for fach in faecher%}

                                       <li class="d-flex justify-content-between align-items-center">
                                       <a href="{{url_for('viewSubject', subject_id = fach.Fach.id)}}" style="text-decoration: none; color: black">
                                          <h6 class="mb-0" style="width: 200px">{{fach.Fach.bezeichnung}}</h6></a>


                                               <a style="color: black" data-toggle="collapse" href="#collapseSubject{{fach.Fach.id}}" aria-expanded="false" aria-controls="collapseSubject">
                                                  <i onclick="toggle(this)" class="bi bi-chevron-down" style="font-size: 25px"></i>
                                                   <script>
                                                    function toggle(x){
                                                        x.classList.toggle("bi-chevron-up")
                                                    }
                                                   </script>
                                             </a>
                                      </li>
                                             <div class="collapse" id="collapseSubject{{fach.Fach.id}}">
                                             <table class="table">
                                             <thead>
    											<tr>
    											  <th scope="col">Prüfung</th>
											      <th scope="col">Punkte</th>
											      <th scope="col">Note</th>
											    </tr>
											 </thead>
											 <tbody>
                                                   <ul>
                                                       {%for pruefung in pruefungen%}
                                                        {%for bewertung in bewertungen%}
                                                            {%if pruefung.Belegung.fach_id == fach.Fach.id%}
                                                            {%if bewertung.Bewertung.pruefung_id== pruefung.Pruefung.id%}


                                                            <tr class="list-group-item-action" >



                                                                            <td>
                                                                                <a href="{{url_for('viewExam', pruefung_id=pruefung.Pruefung.id)}}" style="text-decoration: none; color: black">
                                                                                <h7 style="width: 300px">{{pruefung.Pruefung.bezeichnung}}</h7>

                                                                            </td>
                                                                            <td>
                                                                            {% if bewertung.Bewertung.punkte is not none %}
                                                                            	<h7 style="color: gray">{{bewertung.Bewertung.punkte}}</h7>
                                                                            {% endif %}
                                                                            </td>
                                                                            <td>
												                           	{% if bewertung.Bewertung.punkte is not none %}
																				{% for notenschluessel in notenschluesselListe %}
																				{% if notenschluessel.pruefung_id == pruefung.Pruefung.id %}
																					{% if bewertung.Bewertung.punkte <= notenschluessel.punkte_obergrenze %}
																						{% if loop.nextitem is defined %}
																							{% if bewertung.Bewertung.punkte > loop.nextitem.punkte_obergrenze %}
																								<h7 style="color: gray">{{notenschluessel.note}}</h7>
																							{% endif %}	
																						{% else %}
																							<h7 style="color: gray">{{notenschluessel.note}}</h7>
																						{% endif %}
																					
																					{% endif %}
																				{% endif %}
																				{% endfor %}
																			{% endif %} 
																			</td>


                                                            </tr>
                                                            

                                                       {%endif%}
                                                       {%endif%}
                                                       {%endfor%}
                                                       {%endfor%}
                                                   </ul>
                                                  
                                                  </tbody>
                                                  </table>
                                               </div>
                                      <hr>
                                      {%endfor%}
                                      </ul>
                            </div>
                          </div>
                      </ul>
                </div>
            </div>
             <div class="col-4">
                <div class="card" style="mb-1">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <div class="mt-3">
                                <h4>{{schueler.vorname}} {{schueler.nachname}}</h4>
                                {% for klasse in klassenListe %}
                                {% if schueler.klasse_id == klasse.id %}
                                <h6 style="font-style: italic">{{klasse.bezeichnung}} </h6>
                                 {% endif %}
                                {% endfor %}
                                <ul style="list-style: none; padding-left: 0px">

                                    <li class="mb-1">

                                        <a type="button" class="btn btn-primary btn-sm"
                                                style="background-color: #006633; color: white" data-toggle="modal" id="editStudent{{schueler.id}}"
                                               data-target="#editStudent {{ schueler.id }}" data=origin>
                                            Schüler bearbeiten
                                        </a>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>


    {% endblock %}
</html>